#outer {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40%;
  margin-top: -2.5vh;
  background: #B5A7A6;
  border-radius: 2%;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
}

#inner {
  width: 0;
  height: 5vh;
  background: #E05F47;
  border-radius: 2%;
}

#percent {
  font-size: 15vw;
  color: #FF6C43;
  text-align: center;
}
