#wrapper {
  width: 80%;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40%;
  margin-top: -40vh;
  background: linear-gradient(#792050, #6B3C70, #342F36);
  border-radius: 2%;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
}

#text {
  width: 60%;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30%;
  margin-top: -25vh;
}

p {
  font-size: 12vh;
  font-family: 'Kaushan Script', cursive;
  color: #F9F7F8;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
