#wrapper {
  width: 80%;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40%;
  margin-top: -40vh;
  line-height: 20vh;
  background: linear-gradient(#D12F76, #FF39CD);
  border-radius: 2%;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
}

#element {
  font-size: 20vh;
  font-family: cursive;
  color: #FCF8ED;
  font-weight: 700;
  text-transform: uppercase;
  border-right: 1vw solid;
  -webkit-animation: 0.5s blink step-end infinite;
  animation: 0.5s blink step-end infinite;
  height: 20vh;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -45%;
  margin-top: -10vh;
}

@-webkit-keyframes blink {
  0%  { border-color: transparent; }
  50% { border-color: #FCF8ED; }
}

@keyframes blink {
  0%  { border-color: transparent; }
  50% { border-color: #FCF8ED; }
}
